{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
<!DOCTYPE html>
<html lang="en-US">
<body>

<p>Translate this page:</p>

<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<p>You can translate the content of this page by selecting a language in the select box.</p>

</body>
</html>
<section class="home-section section-hero inner-page overlay bg-image"
      style="background-image: url('images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">

                 <h2 class="text-white font-weight-bold">LOGIN</h2>


            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section" id="next-section">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 mb-5 mb-lg-0">
              <p>Already  have an account?</p>
            <form action="" method="POST" >{% csrf_token %}

              {{ form|crispy}}
                <html>
  <head>
      <!DOCTYPE html>
<html>
<body>


<form action="/action_page.php">
  <label for="fname">Corporate Identification Number*</label>
  <input type="text" id="fname" name="fname"><br><br>
</form>

</body>
</html>
                <!DOCTYPE html>
<html>
<body>
<button type="button" onclick="alert('Success')">Authenticate</button>

</body>
</html>


    <title>reCAPTCHA demo: Simple page</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <form action="?" method="POST">
      <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
      <br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Login" class="btn btn-primary btn-md text-white">
                </div>
              </div>


            </form>
          </div>

        </div>
      </div>
    </section>


{% endblock %}