<style>
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.container {
  height: 200px;
  position: relative;

}

.vertical-center {
  margin: auto;
   text-align: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>

<body style="background-color:powderblue;">
<form action="https://upload.embed.ly/1/video?key=YOUR_API_KEY" method="POST" enctype="multipart/form-data" >

	 <div class="header">
  <h1>AMAZON</h1>

</div>

</form>
  </div>
</div>
<h1 style="color:black ; font-size: 100px">COMPANY DETAILS</h1>
<p>Amazon.com, Inc is an American multinational technology company based in Seattle that focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is considered one of the Big Four technology companies, along with Google, Apple, and Facebook.It has been referred to as "one of the most influential economic and cultural forces in the world" as well as the world's most valuable brand.[</p>
<a href="newregister.html">
	<button>APPLY NOW</button>
	</a>
	<div class="video-display">
	</div>
</body>