<style>
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.container {
  height: 200px;
  position: relative;

}

.vertical-center {
  margin: auto;
   text-align: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>

<body style="background-color:powderblue;">
<form action="https://upload.embed.ly/1/video?key=YOUR_API_KEY" method="POST" enctype="multipart/form-data" >

	 <div class="header">
  <h1>BYJU'S The Learning App</h1>

</div>

</form>
  </div>
</div>
<p>BYJU’S-The Learning App is the common brand name for Think and Learn Private Ltd., an Indian educational technology (edtech) and online tutoring firm founded in 2011 by Byju Raveendran at Bangalore.In March 2019, it was the world's most valued edtech company at $5.4 billion (Rs 38500 crore).Byju's has claimed on 27 May 2020 that they have gained Rs. 2,800cr revenue in FY20. </p>

	<div class="video-display">
	</div>
</body>