<style>
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.container {
  height: 200px;
  position: relative;

}

.vertical-center {
  margin: auto;
   text-align: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>

<body style="background-color:powderblue;">
<form action="https://upload.embed.ly/1/video?key=YOUR_API_KEY" method="POST" enctype="multipart/form-data" >

	 <div class="header">
  <h1>JIO</h1>

</div>

</form>
  </div>
</div>
<h1 style="color:black ; font-size: 100px">COMPANY DETAILS</h1>
<p>Reliance Jio Infocomm Limited,Jio, is an Indian telecommunications company and a subsidiary of Jio Platforms, headquartered in Mumbai, Maharashtra, India. It operates a national LTE network with coverage across all 22 telecom circles. It does not offer 2G or 3G service, and instead uses only voice over LTE to provide voice service on its 4G network.

Jio soft launched on 27 December 2015 with a beta for partners and employees,and became publicly available on 5 September 2016. As of 31 December 2019, it is the largest mobile network operator in India and the third largest mobile network operator in the world with over 387.5 million subscribers.

In September 2019, Jio launched a fiber to the home service, offering home broadband, television, and telephone services. Since April 2020, Reliance Industries has raised ₹152,056 crore (US$21 billion) by selling 32.97% equity stake in Jio Platforms. </p>
	<a href="newregister.html">
	<button>APPLY NOW</button>
	</a>
	<div class="video-display">
	</div>
</body>