<style>
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.container {
  height: 200px;
  position: relative;

}

.vertical-center {
  margin: auto;
   text-align: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>

<body style="background-color:powderblue;">
<form action="https://upload.embed.ly/1/video?key=YOUR_API_KEY" method="POST" enctype="multipart/form-data" >

	 <div class="header">
  <h1>TATA</h1>

</div>

</form>
  </div>
</div>
<h1 style="color:black ; font-size: 100px">COMPANY DETAILS</h1>
<p>Tata Group is an Indian multinational conglomerate holding company headquartered in Mumbai, Maharashtra, India. Founded in 1868 by Jamsetji Tata, the company gained international recognition after purchasing several global companies. One of India's largest conglomerates, Tata Group is owned by Tata Sons.It is one of the biggest and oldest industrial groups in the country, founded 153 years ago in 1868. Each Tata company operates independently under the guidance and supervision of its own board of directors and shareholders. </p>
<a href="newregister.html">
	<button>APPLY NOW</button>
	</a>
	<div class="video-display">
	</div>
</body>