{% extends 'base.html' %}

{% load crispy_forms_tags  %}

{% block content %}
<!DOCTYPE html>
<html lang="en-US">
<body>

<p>Translate this page:</p>

<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<p>You can translate the content of this page by selecting a language in the select box.</p>

</body>
</html>

    <section class="site-section" id="next-section">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <center><h1 class="lead">Post a Job</h1></center>
            <form action="" method="POST" class="">{% csrf_token %}

              {{ form|crispy }}

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="POST" class="btn btn-primary btn-md text-white">
                </div>
              </div>


            </form>
          </div>



        </div>

      </div>
    </section>


{% endblock %}