{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HOME -->
<!DOCTYPE html>
<html lang="en-US">
<body>

<p>Translate this page:</p>

<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<p>You can translate the content of this page by selecting a language in the select box.</p>

</body>
</html>
    <section class="home-section section-hero inner-page overlay bg-image"
             style="background-image: url('{% static 'images/hero_1.jpg' %}');"
             
      >
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Notices</h1>
              <p>Recent Notices</p>
            </div>
          </div>
        </div>
      </div>
    </section>


<section class="site-section services-section bg-light block__62849" id="next-section">
  <div class="container">

    <div class="row">
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-magnet d-block"></span></span>
          <h3>TCS Needs Freshers</h3>
          <p>Engineering Graduates with CSE Background.Submit CV at XXXX@XX.XX</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-plane d-block"></span></span>
          <h3>Indigo hiring Air Hostress </h3>
          <p>Beautiful,Friendly,Fluent in English.Contact : XXXXXXXX</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-laptop d-block"></span></span>
          <h3>Web Designer for Startup</h3>
          <p>Must be 2 years experienced along with HTML,CSS,JS and full stack development </p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-search d-block"></span></span>
          <h3>Teacher Wanted</h3>
          <p>Responsible for teaching students of lower classes in a reputed school </p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-paper-plane d-block"></span></span>
          <h3>Job for a Content Writer</h3>
          <p>Need a Content writer</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-plug d-block"></span></span>
          <h3>Electrician</h3>
          <p class="d-sm-block">Need a electrician for college works</p>
        </a>

      </div>
    </div>


  </div>
</section>

<section class="bg-white pt-5 testimony-full">

  <div class="owl-carousel single-carousel">


    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <img class="img-fluid mx-auto" src="{% static 'images/person_1.jpg' %}" alt="Image">
          <blockquote>
            <p>&ldquo;XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX&rdquo;</p>
            <p><cite> &mdash; XXXXXXX</cite></p>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <img class="img-fluid mx-auto" src="{% static 'images/person_2.jpg' %}" alt="Image">
          <blockquote>
            <p>&ldquo;XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.&rdquo;</p>
            <p><cite> &mdash; XXXXXXX</cite></p>
          </blockquote>
        </div>
      </div>
    </div>

  </div>

</section>


{% endblock  %}
